arrow>=0.12.1
hashids>=1.2.0
petname>=2.2
tenacity>=5.0.2
jsonschema>=3.0.0
tacconfig>=0.5.4
agavepy@git+https://github.com/TACC/agavepy@master
requests_futures>=0.9.7
pytz>=2020.1
validators==0.18.1
Jinja2==2.11.2
requests_futures
hypothesis
