name: Docker publish

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master
    paths-ignore:
      - '**.md'

  pull_request:
    # run tests only for pull requests to `master`
    branches:
      - master
    paths-ignore:
      - '**.md'

env:
  # Docker image
  # DOCKER_PASSWORD accessible via secrets
  DOCKER_USER: tacc
  DOCKER_ORG: tacc
  DOCKER_REPO: reactors

  # Tapis credentials for testing
  # TAPIS_PASSWORD accessible via secrets
  # TODO: non-SD2 client
  TAPIS_BASE_URL: https://api.sd2e.org/
  TAPIS_USER: sd2etest
  TAPIS_CLIENT: _cli-sd2e-actions-python-reactors

jobs:
  build-test-push:
    name: Build, test, and push Docker image 
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        include:
          - python-version: 3.6
            base-image: python:3.6-buster
            image-tag: python3.6
          - python-version: 3.7
            base-image: python:3.7-buster
            image-tag: python3.7
            additional-tags: |
              ${{ env.DOCKER_ORG }}/${{ env.DOCKER_REPO }}:python3
              ${{ env.DOCKER_ORG }}/${{ env.DOCKER_REPO }}:latest
    steps:

      # Install build dependencies
      - uses: actions/checkout@v2
      - name: Force locale to UTF-8
        run: |
          sudo apt-get update -q
          sudo apt-get install -yq locales locales-all make
          sudo apt-get clean -q
          echo "LC_ALL=en_US.UTF-8" >> $GITHUB_ENV
          echo "LANG=en_US.UTF-8" >> $GITHUB_ENV
          echo "LANGUAGE=en_US.UTF-8" >> $GITHUB_ENV
      - name: Set up Python 
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install pip dependencies
        run: | 
          python -m pip install -q --upgrade pip pytest
          python -m pip install -q git+https://github.com/TACC-Cloud/tapis-cli
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      # Build image
      - name: Build sdist
        run: python setup.py sdist -q
      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            SDIST=dist/reactors-*.tar.gz
            BASE_IMAGE=${{ matrix.base-image }}
          file: Dockerfile
          pull: true
          load: true
          push: false
          tags: ${{ env.DOCKER_ORG }}/${{ env.DOCKER_REPO }}:${{ matrix.image-tag }}

      # Test image CMD
      - name: Authenticate Tapis client
        run: |
          touch ~/.tapis_firstrun
          tapis auth init --no-git --no-registry \
            --client-name $TAPIS_CLIENT --api-server $TAPIS_BASE_URL \
            --username $TAPIS_USER --password ${{ secrets.TAPIS_PASSWORD }} 
      - name: Test image using default CMD
        run: |
          TAPIS_TOKEN="$(tapis auth show -f json | jq -rc .access_token)"
          [ -z $TAPIS_TOKEN ] && echo failed to generate Tapis access token && exit 1
          docker run --rm \
            -e _abaco_access_token=${TAPIS_TOKEN} \
            -e _abaco_api_server=${TAPIS_BASE_URL} \
            ${{ env.DOCKER_ORG }}/${{ env.DOCKER_REPO }}:${{ matrix.image-tag }}

      # Push to DockerHub
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1 
        with:
          username: ${{ env.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push image to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          build-args: |
            SDIST=dist/reactors-*.tar.gz
            BASE_IMAGE=${{ matrix.base-image }}
          push: true
          tags: |
            ${{ env.DOCKER_ORG }}/${{ env.DOCKER_REPO }}:${{ matrix.image-tag }}
            ${{ matrix.additional-tags }}
